In [2]:
import pandas as pd
data=pd.read_csv("spam.csv",encoding="latin-1")
data.head(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [5]:
data.columns

data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)
data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
data['v1']=data['v1'].map({'ham':0, 'spam':1})
data.head()

   v1                                                 v2
0   0  Go until jurong point, crazy.. Available only ...
1   0                      Ok lar... Joking wif u oni...
2   1  Free entry in 2 a wkly comp to win FA Cup fina...
3   0  U dun say so early hor... U c already then say...
4   0  Nah I don't think he goes to usf, he lives aro...

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()

In [8]:
x=data['v2']
y=data['v1']
x.shape

y.shape

x=cv.fit_transform(x)
x

<5572x8672 sparse matrix of type '<class 'numpy.int64'>'
	with 73916 stored elements in Compressed Sparse Row format>

1.The Cat 2.The Dog 3.The Bird

 The Cat Dog Bird
1 1 0 0
1 0 1 0
1 0 0 1

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2)
x_train.shape

(4457, 8672)

In [10]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(x_train, y_train)
MultinomialNB()
result=model.score(x_test, y_test)
result=result*100
result

98.20627802690582

In [11]:
import pickle
pickle.dump(model, open("spam.pkl","wb"))
pickle.dump(cv, open("vectorizer.pkl","wb"))
clf=pickle.load(open("spam.pkl","rb"))
clf
MultinomialNB()
msg="hello dear"
data=[msg]
vect=cv.transform(data).toarray()
result=model.predict(vect)
print(result)

[0]